/* Source: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Hide%20ribbon%20on%20collapse.md */

/* Immersive Ribbon Menu */
.workspace-ribbon.mod-left {
  background-color: transparent; /*c myn: hides weird flashing in default theme when opening */
  transition: all 0.2s ease-in-out;
  &::before {
    border-bottom-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  &.is-collapsed {
    border-right-color: transparent;
    transition: all 0.2s ease-in-out;
    &::before {
      border-bottom-color: var(--tab-outline-color);
      transition: all 0.2s ease-in-out;
    }
    &:hover > :nth-child(n + 2) {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    &:not(:hover) > :nth-child(n + 2) {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Immersive Sidebar Collapse */
.workspace-split.mod-horizontal:is(.mod-left-split, .mod-right-split) {
  &.is-sidedock-collapsed {
    .workspace-tabs .workspace-tab-header-container,
    .workspace-tabs .workspace-tab-container,
    .workspace-tabs .workspace-leaf-resize-handle,
    .workspace-tabs.mod-top .workspace-tab-header-inner {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .workspace-tabs.mod-top .workspace-tab-header-container {
      opacity: 1;
    }
  }
}

/* ------------------------------------------------ */
/* Change ribbon icon color */
.workspace-ribbon.side-dock-ribbon.mod-left .clickable-icon {
  color: rgb(255, 255, 255);
}
