/*
    Source: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Hide%20ribbon%20on%20collapse.md
*/

/* Immersive Ribbon Menu */
.workspace-ribbon.mod-left {
  background-color: transparent; /*c myn: hides weird flashing in default theme when opening */
  transition: all 0.2s ease-in-out;
  &::before {
    border-bottom-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  &.is-collapsed {
    border-right-color: transparent;
    transition: all 0.2s ease-in-out;
    &::before {
      border-bottom-color: var(--tab-outline-color);
      transition: all 0.2s ease-in-out;
    }
    &:hover > :nth-child(n + 2) {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    &:not(:hover) > :nth-child(n + 2) {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}

/* Immersive Sidebar Collapse */
.workspace-split.mod-horizontal:is(.mod-left-split, .mod-right-split) {
  &.is-sidedock-collapsed {
    .workspace-tabs .workspace-tab-header-container,
    .workspace-tabs .workspace-tab-container,
    .workspace-tabs .workspace-leaf-resize-handle,
    .workspace-tabs.mod-top .workspace-tab-header-inner {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    .workspace-tabs.mod-top .workspace-tab-header-container {
      opacity: 1;
    }
  }
}

/*
    Source: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Properties%20into%20two%20columns.md
*/

[data-type="markdown"] .metadata-properties {
  display: grid;
  grid: auto-flow / 50% 50%;
  gap: 3px 0px;
}

[data-type="markdown"] .metadata-properties .metadata-property-value {
  align-items: start;
}

body {
  --metadata-label-width: 5em;
}

/* ------------------------------------------------ */
/* Change ribbon icon color */
.workspace-ribbon.side-dock-ribbon.mod-left .clickable-icon {
  color: rgb(255, 255, 255);
}

/*
    Source: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Show%20note%20header%20on%20hover.md
*/

.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    height: 0px;
    transition: height 200ms ease-in;

    &:hover {
        height: var(--header-height);
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: var(--size-4-4);
        top: 100%;
        position: absolute;
        z-index: 1;
    }
}

/*
    Source: https://github.com/r-u-s-h-i-k-e-s-h/Obsidian-CSS-Snippets/blob/Collection/Snippets/Left%20aligned%20note%20header.md
*/
.view-header-title-container {
  justify-content: start;
}
